body {
  overflow-X: hidden;
}
.w {
  width: 1200px;
  margin: 0 auto;
}

.common-bannerTopMask {
  width: 100%;
  height: 128px;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
  z-index: 2;
}
.common-headerWrap {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  display: block;
  height: 80px;
  z-index: 40;
}
.common-headerContent {
  width: 1200px;
  height: 80px;
  margin: 0 auto;
  position: relative;
}
.common-logo {
  position: absolute;
  top: 16px;
  left: 10px;
  display: block;
  width: 218px;
  height: 54px;
  background: url('../img/ia_100000036.png') no-repeat -16px -426px;
}
.common-login {
  width: 100%;
  height: 100%;
}
.commonloginBtn {
  position: absolute;
  right: 116px;
  top: 23px;
  padding: 6px 39px;
  color: #deb77e;
  font-size: 20px;
  border-radius: 20px;
  border: 2px solid #deb77e;
}
.common-navBtn {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 20px;
  right: 0;
  z-index: 105;
}
.common-navBtn i {
  width: 36px;
  height: 3px;
  margin-top: 6px;
  display: block;
  background: linear-gradient(to right, #deba80, #a8793e);
  transition: all 0.3s;
}
.common-navBtn i:nth-child(2n) {
  margin-left: 5px;
}
.common-navBtn:hover i:nth-child(odd) {
  transform: translateX(6px);
}
.common-navBtn:hover i:nth-child(2n) {
  transform: translateX(-6px);
}
.mainWrap {
  width: 100%;
}
.gpBanner {
  width: 100%;
  background: linear-gradient(to right, #0b0e15 50%, #1b2336 51%);
  height: 624px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}.gpBanner img{
  display: block;
  margin: 0 auto;
  width: 1920px;
  height: 100%;
}
.noticeOut {
  width: 1200px;
  height: 107px;
  background-color: #3a3b4b;
  display: block;
  position: absolute;
  top: 407px;
  left: 50%;
  transform: translateX(-50%);
}
.noticeWrap {
  width: 100%;
  height: 100%;
  background: url('../img/ia_100000031.png');
}
.title {
  position: absolute;
  left: 74px;
  font-size: 30px;
  line-height: 107px;
  color: #deb77e;
}
.swiper-wrapperOut {
  overflow: hidden;
  width: 813px;
  height: 100px;
  position: relative;
  left: 340px;
  top: 3px;
}
.arr {
  width: 100%;
  height: 300px;
  position: absolute;
  top: -100px;
  left: 0;
  
}


.noticeItems {
  padding: 11px 0 8px;
  white-space: nowrap;
  position: relative;
}
.noticeTag {
  position: absolute;
  color: #dab77e;
  top: 60%;
  text-align: center;
  line-height: 25px;
  width: 62px;
  font-size: 18px;
  height: 26px;
  margin-right: 23px;
  border: 1px solid #dab77e;
  border-radius: 10px;
  display: block;
  margin-top: -15px;
}
.noticeItems-text {
  width: 90%;
  margin-left: 83px;
  position: relative;
}
.noticeContent {
  font-size: 20px;
  color: #fff;
  font-weight: normal;
  max-width: 800px;
  color: #dab77e;
  padding-right: 240px;
  white-space: nowrap;
  word-break: break-all;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
  transition: all 0.15 linear 0s;
}
.soli {
  height: 1px;
  bottom: -10px;
  background: rgba(161, 163, 163, 0.7);
  display: block;
  position: absolute;
  width: 100%;
  transition: all 0.6s linear 0s;
}
.gpRights {
  margin-top: 56px;
  padding-bottom: 59px;
  overflow: hidden;
}
.gpTitle-layer {
  text-align: center;
  margin-bottom: 34px;
  font-weight: bold;
  position: relative;
}
.gpTitle-big {
  font-size: 40px;
  color: #303643;
  display: inline-block;
}
.left,
.right {
  position: absolute;
  height: 2px;
  width: 99px;
  background-color: #2e3544;
  top: 22px;
  margin-top: -1px;
  display: block;
}
.left {
  left: 600px;
}
.right {
  right: 600px;
}
.gpTitle-small {
  font-size: 30px;
  font-weight: 400;
  color: #b2b2b2;
  margin-top: 7px;
}
.gpUl-layer {
  width: 1200px;
  margin: 0 auto 0;
}
.gpUl {
  margin: 0 -22px;
  height: auto;
  clear: both;
  display: block;
}
.gpLi {
  width: 370px;
  height: 210px;
  margin: 19px 22px;
  float: left;
  position: relative;
  padding-top: 78px;
  padding-left: 29px;
  background: url('../img/ia_100000000322.png') no-repeat;
  display: block;
  transition: all 0.3s;
}
.gpLi a::before {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  content: "";
  width: 370px;
  height: 210px;
  opacity: 0;
  z-index: 5;
  background: url('../img/ia_100000000322.png') no-repeat 0 -420px;
}
.gpLi:hover a::before {
  opacity: 1;
}
.gpText {
  width: 112px;
  height: 28px;
  overflow: hidden;
  z-index: 10;
  position: absolute;
  top: 74px;
}
.gpText img {
  left: 0;
  top: -30px;
  transition: transform 0.3s;
  position: absolute;
}
.gpLi:hover .love1 {
  position: absolute;
  top: 0;
  left: 0;
}
.gpSubText {
  font-size: 16px;
  color: #a8aab7;
  position: absolute;
  z-index: 15;
  top: 110px;
}
.gpLi:hover .gpSubText {
  content: "";
  color: #fff;
}
.gpLi-img {
  width: 280px;
  height: 245px;
  position: absolute;
  z-index: 20;
  right: -70px;
  top: -35px;
}
.gpLi:hover .gpLi-img {
  transform: translateY(-10px);
}
.gpDetail {
  width: 100%;
  height: 220px;
  overflow: hidden;
  background: url("../img/ia_100000000323.jpg") repeat-x;
  background-position: center;
  padding-top: 40px;
  background-size: 100% 100%;
}
.footer-qrcode {
  width: 423px;
  height: 152px;
  margin: 0 auto;
  background: url("../img/ia_100000000324.png") no-repeat;
}
.actModal {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 400;
  display: none;
}
.actModal-content.gpointRules {
  width: 1006px;
  height: 689px;
  background: #fff;
}
.actModal-content {
  padding: 64px 0 90px;
  position: absolute;
  left: 25%;
  top: 15%;
}
.actModalClose {
  width: 60px;
  height: 60px;
  background: url(../img/ia_100000045.jpg);
  top: 0;
  right: -66px;
  position: absolute;
}
.actModal-content.gpointRules.actModal-body {
  max-height: 600px;
  overflow-x: hidden;
  overflow-y: scroll;
}
.actModal-body {
  width: 100%;
  height: 529px;
  color: #666;
  margin-top: 6px;
  font-size: 24px;
  text-align: center;
}
.shopText {
  padding: 0 106px;
  text-align: left;
}
.imgLayer {
  text-align: center;
}
.shopText-content {
  text-align: center;
  margin-top: 40px;
}
.text_show {
  margin-top: 15px;
  font-size: 24px;
}
